$baby-pink: #f5d6d2;
$pink: #e48a7d;
$black: #222222;

@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

@import url("https://www.fontshare.com/fonts/telma");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Seymour+One&display=swap");

@mixin logo-font {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin main-font {
  font-family: "telma";
  font-weight: 400;
  font-style: italic;
}

@mixin secondary-font {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin heading-font {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}

//* {
//border: 2px red dotted;
//}

body {
  display: flex; // This enables flexbox
  margin: 0; // Removes default margin to use the entire viewport
  height: 100vh; // Sets the body to the full height of the viewport
  background-color: $black;

  main,
  .side-image {
    flex: 1; // Each will take up an equal amount of space
    width: 50%; // Explicitly set the width to 50% just to reinforce the design, although 'flex: 1' is enough by itself
  }
}

.side-image {
  background-image: url("/Assests/Login-Background-2.png"); // Adjust the path as necessary
  background-size: cover; // Covers the entire div with the image
  background-position: center; // Centers the image in the div
  display: none;
}

header {
  div.logo {
    background: $pink;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 15.5px;
    @include logo-font();
    color: $black;
    font-size: larger;
    height: 2rem;
    margin: 2rem;
    width: fit-content;
  }
}

.content {
  padding: 5rem;
  color: $baby-pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1 {
    @include secondary-font;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    span {
      color: $pink;
    }
  }

  .subheading {
    @include secondary-font;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 100;
  }

  form {
    width: 100%; // Consider setting a max-width here for larger screens

    .form-group {
      position: relative;
      padding-top: 2rem; // This might need to be larger depending on the font-size of the label

      label {
        position: absolute;
        top: 70%; // Center vertically to start
        left: 0.8rem; // Match the input padding
        transform: translateY(
          -50%
        ); // Center the label vertically with respect to its height
        color: $baby-pink;
        transition: all 0.3s ease;
        pointer-events: none;
        background-color: transparent;
      }

      input[type="email"],
      input[type="password"],
      input[type="tel"] {
        width: 96.5%;
        padding: 0.8rem;
        border: none;
        background: transparent;
        border-bottom: 1px solid $baby-pink;
        //border-radius: 10px;
        color: $baby-pink;
        font-size: 1rem; // Adjust as needed

        &:focus,
        &:not(:placeholder-shown) {
          & + label {
            top: 53%; // Move it to the top of the .form-group
            left: 0.8rem; // Maintain horizontal position
            color: $pink;
            transform: translateY(-100%); // Adjust vertical position
            font-size: 0.8rem;
            background-color: $black;
            z-index: 1;
            border: 2px solid $black;
            border-radius: 10px;
          }
        }

        &:focus {
          outline: none;
          background-color: #222222;
        }

        &::placeholder {
          color: transparent;
        }
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
      .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        input[type="checkbox"] {
          margin-right: 0.5rem;
          background-color: $black;
          accent-color: $pink;
          border: #d9d9d9 solid 1px;
          //color: $baby-pink;
        }
      }

      label {
        font-size: 0.9rem;
      }
    }

    .forgot-link {
      margin-bottom: 2rem;

      a {
        color: $pink;
        text-decoration: none;
        font-size: 0.9rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

 a{
  button {
    margin: 1rem;
    margin-top: 1rem;
    background: $pink;
    border: none;
    padding: 1rem 2rem;
    color: $black;
    border-radius: 20px;
    font-weight: 100;
    @include secondary-font();
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    border: $pink 2px solid;

    &:hover {
      background: $black;
      color: $pink;
      border: $pink 2px solid;
    }
  }
 }

  .sign-up-link {
    margin-top: 1.5rem;
    text-align: center;
    a {
      color: $pink;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .social-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    i {
      font-size: 1.5rem;
      border: $pink 2px solid;
      padding: 0.5rem;
      border-radius: 50%;
      color: $pink;
      transition: all ease-in-out 0.3s;
      text-align: center;

      &:hover {
        //color: $baby-pink;
        transform: scale(1.3);
        border: $pink 2px solid;
        background-color: $pink;
        color: $black;
      }
    }
  }
}

.form-group,
.checkbox,
.forgot-link {
  transition: opacity 0.5s ease, visibility 0.5s;
  opacity: 1; // Default to visible
}

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.form-group {
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  max-height: 200px; // Arbitrary large enough value
}

.form-group.collapsed {
  max-height: 0;
  padding: 0 20px; // Adjust padding if needed
}

.content {
  transition: opacity 0.5s ease;
}

.content.fading {
  opacity: 0.5;
}

.side-image {
  position: relative;
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease; /* Smooth transition for opacity changes */
}

.side-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0; /* Start fully transparent */
  transition: opacity 1s ease; /* Transition for fading effect */
}

.side-image.show-before {
  &::before {
    opacity: 1; /* Fully show the ::before pseudo-element */
  }
}

// Media queries for tablets
@media (min-width: 768px) {
  body {
    flex-direction: row;
  }

  main,
  .side-image {
    width: 50%;
  }

  .content {
    padding: 2rem;
    max-width: 500px; // Limit content width on larger screens
  }

  .form-group input,
  .form-group label {
    font-size: 18px; // Slightly larger font on tablets
  }

  button,
  .social-links i {
    font-size: 16px;
    padding: 15px; // Larger padding for a better interactive area
  }
}

// Media queries for desktops
@media (min-width: 1024px) {
  .content {
    padding: 2rem;
    justify-content: center; // Center content for better aesthetics
  }

  .form-group {
    max-width: 600px; // Constrain form width for better layout
  }

  .form-group input,
  .form-group label {
    font-size: 20px; // Comfortable reading size on desktops
  }

  button,
  .social-links i {
    font-size: 18px;
    padding: 20px; // More substantial padding
  }
}

@media (max-width: 420px) {
  .content {
    h1 {
      font-size: 1.5rem;
    }
  }
  .social-links {
    flex-direction: column;
  }
}
@media (max-width: 769px) {
  .content {
    padding: 2rem;
  }
}
